In [1]:
# Introduction to List datatype

''' Definition: A list is a collection of items in a particular order
It is calssified as a mutable dataype (which can be edited or modified)

How to define a list datatype ....[]

'''

students = ['khadija','anitha','naveen','suresh','keerthi','david']

In [2]:
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david']

In [3]:
# undertand concept of indexes  (0,1,2,3,4,5,.....)

# req: i want to access anitha name from the above

students[1]

'anitha'

In [4]:
# req: i want to access suresh name from the above

students[3]

'suresh'

In [6]:
# print suresh name in Initcaps

print(students[3].title())

Suresh

In [8]:
# req : i want to add satish to the list

students.append('satish')

In [9]:
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david', 'satish']

In [23]:
# req : i want to add shoaib to the list

students.append('shoaib')

print(students)

# I wan to add tanvir name at 2nd index position

students.insert(2,'tanvir')

['rubina', 'tanvir', 'tanvir', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoaib', 'shoaib', 'shoaib', 'shoaib']

In [38]:
print(students)

['rubina', 'tanvir', 'naveen', 'suresh', 'keerthi', 'shoaib']

In [35]:
## Vimp diff between append and insert method in list data type:
# append adds elements at the end whereas insert adds elements at desired index position

#req: i want to modify khadija to rubina

students[0] ='rubina'

print(students)

['rubina', 'tanvir', 'tanvir', 'naveen', 'suresh', 'keerthi', 'shoaib']

In [39]:
print(students)

['rubina', 'tanvir', 'naveen', 'suresh', 'keerthi', 'shoaib']

In [18]:
# req : i want to remove anitha from the list

del students[1]

In [19]:
print(students)

['rubina', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'shoaib', 'shoaib']