In [7]:
# continuation with list datatype

# Organising the list datatype:

cars = ['suzuki','maruti','hyundai','benz','kia','audi','tata','bmw']

In [2]:
print(cars)

['suzuki', 'maruti', 'hyundai', 'benz', 'kia', 'audi', 'tata', 'bmw']

In [9]:
# req : i want to organise the above list in alphabetical order...a,b,c...z

''' Approaches:
1. Temp approach: We will be able to get the original defined list order (sorted)
2. Permanent approach: Changes will be applied permanently (sort)


'''

print(sorted(cars))

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata']

In [10]:
print(cars)

['suzuki', 'maruti', 'hyundai', 'benz', 'kia', 'audi', 'tata', 'bmw']

In [11]:
cars.sort()

In [12]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata']

In [ ]:
## interview question sorted v/s sort method in list datatype
## Ans: in sorted method, we can get back original order whereas in sort method the order change is permanent

In [13]:
# req : i want to know the number of elements in a list datatype

len(cars)

8

In [14]:
# req : i want to reverse the list that has been defined

cars.reverse()

In [16]:
print(cars)

['tata', 'suzuki', 'maruti', 'kia', 'hyundai', 'bmw', 'benz', 'audi']

In [17]:
# Intro to slicing:

students = ['parvez','naveen','khadija','roja','karthik','joseph']

In [18]:
print(students)

['parvez', 'naveen', 'khadija', 'roja', 'karthik', 'joseph']

In [19]:
# general syntax of slicing:  [start_value: stop_value: step_count]

# Note: Last value is always exclusive, to include it we have to increment the index by +1

# req: i want to get parvez and naveen in a slice

students[0:2]

['parvez', 'naveen']

In [20]:
# req: i want to get khadija and roja in a slice

students[2:4]

['khadija', 'roja']

In [22]:
# req: i want to get karthik and  joseph in a slice

students[4:6]

['karthik', 'joseph']

In [23]:
# req: print all alternate values

students[0:6:2]

['parvez', 'khadija', 'karthik']

In [24]:
# req: print all alternate values from naveen

students[1:6:2]

['naveen', 'roja', 'joseph']