In [1]:
"""
introduction to tuple datatype

Tuple:
A tuple is nothing but an immutable list

It is classified as an immutable datatype. We will not be able to alter/modify it.

how to define a tuple ====> ()

"""

students = ('sarika','keerthi','naveed','joseph')

print(students)

('sarika', 'keerthi', 'naveed', 'joseph')

In [2]:
type(students)

tuple

In [3]:
students[0]

'sarika'

In [4]:
print(students[1])

keerthi

In [5]:
students[2]

'naveed'

In [6]:
students[3]

'joseph'

In [10]:
print(students[3].title())

Joseph

In [11]:
students[0] = 'sangeetha'

TypeError: 'tuple' object does not support item assignment

In [12]:
# we only use tuple when we do not want to change the values

dimensions =(200,50)
print(dimensions)

(200, 50)

In [13]:
type(dimensions)

tuple

In [14]:
dimensions[0]=400

TypeError: 'tuple' object does not support item assignment

In [15]:
print(students)

('sarika', 'keerthi', 'naveed', 'joseph')

In [16]:
type(students)

tuple

In [17]:
print(students[0])

sarika

In [18]:
print(students[1])

keerthi

In [21]:
print(students[1].title())

Keerthi

In [22]:
print(students[2].upper())

NAVEED

In [26]:
for x in students:
    print(x)

sarika
keerthi
naveed
joseph

In [27]:
for a in students:
    print(a.upper())

SARIKA
KEERTHI
NAVEED
JOSEPH

In [28]:
for a in students:
    print(a.lower())

sarika
keerthi
naveed
joseph

In [29]:
for a in students:
    print(a.title())

Sarika
Keerthi
Naveed
Joseph

In [30]:
students.insert(2,'ameya')

AttributeError: 'tuple' object has no attribute 'insert'

In [32]:
del students[0]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
"""
Introduction to dictionary datatype

A dictionary is a combination of key, value pairs.

Classification: It is classified as a mutable data type, it can be altered/modified


How to define a dictionary? ..... {}


""" 

alien = {'colour':'green','points':5}
print(alien)

{'colour': 'green', 'points': 5}

In [36]:
type(alien)

dict

In [38]:
# requirement..create a facebook account

user_Name = {'first_Name':'Ameya','last_Name':'Mahajan','DOB':'04/01/1988','password':54321}
print(user_Name)

{'first_Name': 'Ameya', 'last_Name': 'Mahajan', 'DOB': '04/01/1988', 'password': 54321}

In [39]:
type(user_Name)

dict

In [41]:
# req: to add new kew value pair to the dict

user_Name['location'] = 'silicon valley'
print(user_Name)

{'first_Name': 'Ameya', 'last_Name': 'Mahajan', 'DOB': '04/01/1988', 'password': 54321, 'location': 'silicon valley'}

In [42]:
user_Name['address'] = 'Bandra'
print(user_Name)

{'first_Name': 'Ameya', 'last_Name': 'Mahajan', 'DOB': '04/01/1988', 'password': 54321, 'location': 'silicon valley', 'address': 'Bandra'}

In [43]:
# how to access key value

# Give the key and get the value


print(user_Name['first_Name'])

Ameya

In [45]:
print(user_Name['DOB'])

04/01/1988

In [46]:
user_Name['DOB']

'04/01/1988'

In [47]:
user_Name['location']

'silicon valley'

In [48]:
print(user_Name['address'])

Bandra

In [49]:
user_Name['address']

'Bandra'

In [50]:
user_Name['Ameya']  # we cannot pass value and get the key..it gives key error

KeyError: 'Ameya'